[run]
source =
       Lupv/

omit =
     tests/*
     docs/*
     Lupv/standard/*
     Lupv/views/*_ui.py
     Lupv/resources/*
     Lupv/main.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    except MemoryError
